## HideBags - preset visual settings for Snow Job (the rest of the settings are created with defaults on first start)

[Visual (client side) v2]

ShowBagOnCharacter = true
MeshPrefab = adventurer.obj
MaterialFromPrefab = ArmorLeatherChest
Bone = Spine1
Offset = {"x":0.0,"y":0.15,"z":-0.2}
Rotation = {"x":-80.0,"y":175.0,"z":2.0}
Scale = 0.6
Surface = HideItemTexture
TintWithHideColour = true
TintStrength = 0.85
TextureBrightness = 0.5
HideWhenCameraCloserThan = 1
TintMinBrightness = 0.55
